body
{
font-family:arial;
padding:0px;
background-color: #ffffff;
background-repeat:no-repeat;
background-position:center top;
background-image: -webkit-gradient(linear, left top, left bottom, from(#7788a2), to(#dfebfb)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #7788a2, #dfebfb); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(top, #7788a2, #dfebfb); /* FF3.6+ */
background-image:     -ms-linear-gradient(top, #7788a2, #dfebfb); /* IE10 */
background-image:      -o-linear-gradient(top, #7788a2, #dfebfb); /* Opera 11.10+ */
background-image:         linear-gradient(top, #7788a2, #dfebfb); /* W3C */
}
.center{
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]
{
font-size:25px;
width:200px;
height:35px;
}
select
{
font-size:25px;
width:200px;
height:35px;
}
.label
{
font-size:25px;
}
button.btn
{
padding:2px;
border-radius:8px;
font-size:25px;
}
.page
{
width:370px;
}
input[type="submit"]
{
padding:2px;
border-radius:8px;
font-size:25px;
}
hr
{
width:400px;
margin-left: auto;
margin-right: auto;
}